@charset "utf-8";
/* CSS Document */
/*css初始化*/

/* 初始化CSS */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img { border:0 none; }
/*img{display: block;}*/
ul, ol { list-style:none; }
select,input { padding-top:0; padding-bottom:0; font-family: "微软雅黑";border:0px;outline:none;}
select, input { vertical-align:middle; }
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; }
body { color:#333; font:12px "微软雅黑"; background:url(../images/bdbg.png) repeat-x; }
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */ 
a{ color:#666; text-decoration:none; }
a:hover{ color:#666; text-decoration:none; }
a:visited { color:#666; }


html,body{
    width: 100%;
}  

.wrap {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}   

/* 注册 */
.enroll-box {
  width: 100%;
  background-color: #f7f9fc;
  padding: 1px 0;
}
.enroll-box .enroll {
  height: auto;
  /* min-height:900px; */
  background-color: #fff;
  margin: 56px 0;
  box-shadow: 0 10px 20px 0 rgba(53, 76, 163, 0.1);
  padding: 72px 0;
}
.enroll-box .enroll h1 {
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  font-size: 24px;
  margin-bottom: 42px;
}
.enroll-box .enroll .enroll-left {
  width: 65%;
  float: left;
  height: auto;
  padding-left: 220px;
}
.enroll-box .enroll .enroll-left ul li {
  margin-bottom: 24px;
}
.enroll-box .enroll .enroll-left ul li label {
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  font-weight: bold;
  position: relative;
  display: inline-block;
  width: 400px;
}
.enroll-box .enroll .enroll-left ul li input {
  width: 400px;
  height: 58px;
  border-bottom: 1px solid #eee;
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  font-size: 16px;
  transition: all 0.8s;
}
.enroll-box .enroll .enroll-left ul li input:focus {
  border-bottom: 1px solid #354ca3;
}
.enroll-box .enroll .enroll-left ul li a {
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  position: absolute;
  right: 0;
  top: 0px;
  color: #354ca3;
  text-decoration: none;
}
.enroll-box .enroll .enroll-left .btn-login {
  display: inline-block;
  width: 400px;
  height: 46px;
  background: #ff7a0c;
  background: -moz-linear-gradient(right, #ff7a0c 10%, #ff2344 100%);
  background: -webkit-gradient(linear, right, left, color-stop(10%, #ff7a0c), color-stop(100%, #ff2344));
  background: -webkit-linear-gradient(right, #ff7a0c 10%, #ff2344 100%);
  background: -o-linear-gradient(right, #ff7a0c 10%, #ff2344 100%);
  background: -ms-linear-gradient(right, #ff7a0c 10%, #ff2344 100%);
  background: linear-gradient(to right, #ff7a0c 10%, #ff2344 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7a0c', endColorstr='#ff2344', GradientType=0);
  box-shadow: 0 8px 20px 0 rgba(255, 47, 60, 0.25);
  border-radius: 4px;
  text-align: center;
  line-height: 46px;
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  font-size: 18px;
  color: #fff;
  text-shadow: 0 4px 8px #D70110;
  margin: 24px 0;
  text-decoration: none;
}
.enroll-box .enroll .enroll-left .btn-login:hover {
  box-shadow: 0 8px 20px 0 rgba(255, 47, 60, 0.35);
}
.enroll-box .enroll .enroll-left p {
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  color: #000;
  line-height: 28px;
}
.enroll-box .enroll .line {
  float: left;
  display: inline-block;
  width: 1px;
  height: 500px;
  background-color: #eee;
}
.enroll-box .enroll .enroll-right {
  width: 34%;
  float: right;
  height: auto;
  padding-left: 32px;
}
.enroll-box .enroll .enroll-right p {
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  color: #000;
  line-height: 28px;
}
.enroll-box .enroll .enroll-right .btn-enroll {
  display: inline-block;
  width: 160px;
  height: 46px;
  border-radius: 100px;
  text-align: center;
  line-height: 44px;
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  font-size: 18px;
  color: #354ca3;
  border: 1px solid #354ca3;
  margin: 24px 0;
  text-decoration: none;
}
.enroll-box .enroll .enroll-right .btn-enroll:hover {
  background-color: #354ca3;
  color: #fff;
}
.enroll-box .enroll .enroll-top {
  width: 100%;
  height: 88px;
  border-bottom: 1px solid #eee;
  margin-bottom: 36px;
}
.enroll-box .enroll .enroll-top h1{
  width: 100%;
  height: 88px;
  line-height: 88px;
  text-align: center;
}
.enroll-box .enroll .enroll-top ul {
  width: 70%;
  height: 88px;
  padding-top: 26px;
  display: inline-block;
}
.enroll-box .enroll .enroll-top ul li {
  width: 33%;
  height: 62px;
  line-height: 62px;
  float: left;
  text-align: center;
}
.enroll-box .enroll .enroll-top ul li a {
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  font-size: 18px;
  color: #ccc;
  text-decoration: none;
  height: 62px;
  width: 100%;
  display: inline-block;
}
.enroll-box .enroll .enroll-top ul li a span {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ccc;
  line-height: 24px;
  color: #fff;
  font-size: 16px;
}
.enroll-box .enroll .enroll-top ul li a:hover {
  color: #333;
  border-bottom: 2px solid #354ca3;
}
.enroll-box .enroll .enroll-top ul li a:hover span {
  background-color: #354ca3;
}
.enroll-box .enroll .enroll-top ul li a.current {
  color: #333;
  border-bottom: 2px solid #354ca3;
}
.enroll-box .enroll .enroll-top ul li a.current span {
  background-color: #354ca3;
}
.enroll-box .enroll .enroll-top a.login-btn {
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  float: right;
  color: #354ca3;
  display: inline-block;
  line-height: 116px;
  text-decoration: none;
}
.enroll-box .enroll .enroll-top h3 {
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  font-size: 24px;
  line-height: 88px;
  color: #354ca3;
}
.enroll-box .enroll .enroll-bottom {
  width: 100%;
  height: auto;
}
.enroll-box .enroll .enroll-bottom ul {
  width: 400px;
  height: auto;
  margin: 0 auto;
}
.enroll-box .enroll .enroll-bottom ul li {
  margin-bottom: 24px;
}
.enroll-box .enroll .enroll-bottom ul li label {
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  font-weight: bold;
  display: inline-block;
  width: 400px;
  position: relative;
}
.enroll-box .enroll .enroll-bottom ul li label b {
  position: absolute;
  top: 44px;
  right: 0;
}
.enroll-box .enroll .enroll-bottom ul li label b .icon {
  width: 1.4em;
  height: 1.4em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.enroll-box .enroll .enroll-bottom ul li input {
  width: 400px;
  height: 58px;
  border-bottom: 1px solid #eee;
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  font-size: 16px;
  transition: all 0.8s;
}
.enroll-box .enroll .enroll-bottom ul li input:focus {
  border-bottom: 1px solid #354ca3;
}
.enroll-box .enroll .enroll-bottom ul li select {
  width: 400px;
  height: 58px;
  border-bottom: 1px solid #eee;
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  font-size: 16px;
  transition: all 0.8s;
  background: transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.enroll-box .enroll .enroll-bottom ul li select:focus {
  border-bottom: 1px solid #354ca3;
}
.enroll-box .enroll .enroll-bottom ul li a {
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  position: absolute;
  right: 0;
  top: 0px;
  color: #354ca3;
  text-decoration: none;
}
.enroll-box .enroll .enroll-bottom ul li a .icon {
  width: 1.4em;
  height: 1.4em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.enroll-box .enroll .enroll-bottom ul li a .js-eyehide {
  display: none;
}
.enroll-box .enroll .enroll-bottom ul li span.yzm-pic {
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  position: absolute;
  right: 0;
  top: 36px;
  display: inline-block;
  width: 80px;
  height: 32px;
  background-color: #cff;
}
.enroll-box .enroll .enroll-bottom ul li span.yzm-pic img {
  width: 80px;
  height: 32px;
}
.enroll-box .enroll .enroll-bottom ul li span.yzm-word {
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  position: absolute;
  right: 0;
  top: 42px;
  display: inline-block;
  width: 80px;
  height: 32px;
  font-size: 16px;
  color: #354ca3;
  cursor: pointer;
}
.enroll-box .enroll .enroll-bottom .btn-login {
  display: block;
  width: 400px;
  height: 46px;
  background: #ff7a0c;
  background: -moz-linear-gradient(right, #ff7a0c 10%, #ff2344 100%);
  background: -webkit-gradient(linear, right, left, color-stop(10%, #ff7a0c), color-stop(100%, #ff2344));
  background: -webkit-linear-gradient(right, #ff7a0c 10%, #ff2344 100%);
  background: -o-linear-gradient(right, #ff7a0c 10%, #ff2344 100%);
  background: -ms-linear-gradient(right, #ff7a0c 10%, #ff2344 100%);
  background: linear-gradient(to right, #ff7a0c 10%, #ff2344 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7a0c', endColorstr='#ff2344', GradientType=0);
  box-shadow: 0 8px 20px 0 rgba(255, 47, 60, 0.25);
  border-radius: 4px;
  text-align: center;
  line-height: 46px;
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  font-size: 18px;
  color: #fff;
  text-shadow: 0 4px 8px #D70110;
  margin: 32px auto 80px;
  text-decoration: none;
}
.enroll-box .enroll .enroll-bottom .btn-login:hover {
  box-shadow: 0 8px 20px 0 rgba(255, 47, 60, 0.35);
}
.enroll-box .enroll .enroll-bottom p {
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  width: 400px;
  height: 40px;
  display: block;
  margin: 0 auto;
  position: relative;
  padding-left: 20px;
}
.enroll-box .enroll .enroll-bottom p b {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  border-radius: 50%;
  background-color: #354ca3;
  position: absolute;
  top: 4px;
  left: 0px;
}
.enroll-box .enroll .enroll-bottom p b .icon {
  width: 0.7em;
  height: 0.7em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  color: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
}
.enroll-box .enroll .enroll-bottom p a {
  text-decoration: none;
  color: #354ca3;
}
.enroll-box .enroll .enroll-bottom p input[type='radio'] {
  margin-right: 8px;
  vertical-align: middle;
  position: absolute;
  top: -3px;
  left: 1px;
  opacity: 0;
}
.enroll-box .enroll-part03 img {
  display: block;
  margin: 56px auto 0;
  width: 20%;
}
.enroll-box .enroll-part03 p {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  font-size: 24px;
  color: #000;
}
.enroll-box .enroll-part03 p a.login-btns {
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  text-decoration: none;
  color: #354ca3;
  font-size: 16px;
  display: inline-block;
  width: 160px;
  height: 46px;
  line-height: 44px;
  border-radius: 100px;
  border: 1px solid #354ca3;
  margin: 0 16px;
}
.enroll-box .enroll-part03 p a.login-btns:hover {
  background-color: #354ca3;
  color: #fff;
}
.enroll-box .enroll-part03 p.small {
  font-size: 14px;
  line-height: 60px;
}
.enroll-box .enroll-part03 p.small a {
  text-decoration: none;
  color: #354ca3;
}
.enroll-boxs {
  width: 100%;
  height: 600px;
  background-color: #354ca3;
}
.enroll-boxs .login-box {
  float: right;
  width: 350px;
  height: 400px;
  padding: 24px 0;
  background-color: #fff;
  margin-top: 100px;
}
.enroll-boxs .login-box span.four {
  display: inline-block;
  width: 350px;
  height: auto;
  background-color: #fff;
  padding-bottom: 8px;
}
.enroll-boxs .login-box span.four b {
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-left: 13px solid #fff;
  position: absolute;
  right: -16px;
  top: 10px;
}
.enroll-boxs .login-box span.four h3 {
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  height: 16px;
  line-height: 16px;
  text-align: left;
  font-size: 18px;
  border-left: 2px solid #354ca3;
  padding-left: 16px;
  margin-top: 16px;
  color: #000;
  font-weight: bold;
}
.enroll-boxs .login-box span.four input {
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  border: 1px solid #eee;
  width: 90%;
  height: 48px;
  line-height: 48px;
  color: #333;
  margin: 16px auto;
  display: block;
  padding: 4px 16px;
  border-radius: 4px;
  line-height: 24px;
}
.enroll-boxs .login-box span.four a.login-btn {
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  display: block;
  width: 90%;
  height: 48px;
  line-height: 48px;
  margin: 32px auto;
  margin-bottom: 8px;
  background-color: #fff;
  background: #344BA1;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.enroll-boxs .login-box span.four a.login-btn:hover {
  opacity: 0.9;
}
.enroll-boxs .login-box span.four p {
  width: 100%;
  padding: 4px 16px;
  height: 38px;
}
.enroll-boxs .login-box span.four p a {
  font-weight: normal;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333;
  background-color: #fff;
  text-decoration: none;
  float: right;
  width: auto;
  margin-left: 16px;
  color: #999;
}
.enroll-boxs .login-box span.four p a:hover {
  color: #354ca3;
}
/* 注册  end*/


/*中间部分*/
.content{
    width: 100%;
    height:auto;
}
 .con-l{
    width: 17%;
    margin-right:8px;
    height:auto;
    float: left;
    margin-top:16px;
}
.con-r{
    width: 82%;
    height:auto;
    float: right;
    overflow:hidden;
    padding:25px 16px; 
    background-color: #fff;
    margin-top:16px;
} 
.con-r h2{
    font-size:18px;
    color:#3399ee;
    border-bottom:2px solid #dadada;
    line-height:40px;
    font-weight: normal;
    height:40px;
}
.con-r h2 a{
    float: right;
    font-size: 14px;
    font-weight: normal;
    color:#4496F9;
    text-decoration: none;
}
.con-r h2 span{
    display:inline-block;
    border-bottom:2px solid #3399ee;
    padding:0 2px;
}
.con-r .con-box{
    border-bottom:1px dashed #dadada;
    padding:10px 0;
}
.con-r .con-box{
    border-bottom:1px dashed #dadada;
    padding:10px 0;
}
.con-r .con-box h3{
    font-size:16px;
    color:#333;
    line-height:40px;
    font-weight: bold;
    height:40px;
    padding:0 10px;
}
.con-r .con-box h3 span{
    font-weight: normal;
    color:#4496F9;
    margin-left:8px;
}
.con-r .con-box h3 a{
    float: right;
    font-size: 14px;
    font-weight: normal;
    color:#4496F9;
    text-decoration: none;
}
.con-r .con-box h3 a:hover{
    text-decoration: none;
    opacity:0.8;
}
.con-r .warn-box{
    width: 100%;
    height:40px;
    background-color: #eee;
    font-size: 14px;
    line-height:40px;
    padding-left: 16px;
}
.con-r .con-box ul.text-ul {
    width: 100%;
    margin: 0 auto;
    margin-top:10px;
    padding:0 10px;
}
.con-r .con-box ul.text-ul li{
    width: 33%;
    height:40px;
    line-height:40px;
    float: left;
    font-size:14px;
    color:#333;
}
.con-r .con-box ul.text-ul li label{
    margin:0;
}
.con-r .con-box ul.text-ul li a{
    font-weight: normal;
    color:#4496F9;
    text-decoration: none;
    margin-left:8px;
}
.con-r .con-box ul.text-ul li a:hover{
    text-decoration: none;
    opacity:0.8;
}
.con-r .con-box .accessory-box{
    padding:0 10px;
    margin-top:12px;
}
.con-r .con-box .accessory-box ul.accessory-ul{
  width: 90%;
  float: left;  
}
.con-r .con-box .accessory-box ul.accessory-ul li{
  width: 120px;
  height:160px;
  height:auto;
  float: left;
  margin-right:10px;
}
.con-r .con-box .accessory-box ul.accessory-ul li img{
    width:120px;
    height:120px;
}
.con-r .con-box .accessory-box ul.accessory-ul li p{
    font-size:14px;
    text-align: center;
}
.con-r .con-box ul.bankcard-ul{
    width: 100%;
    height:auto;
    padding:10px 0;
}
.con-r .con-box ul.bankcard-ul li{
    width: 280px;
    height:180px;
    border:1px solid #ccc;
    border-radius: 4px;
    float: left;    
    padding:0 16px;
    margin: 10px 0;
    margin-right:20px;
}
.con-r .con-box ul.bankcard-ul li h1{
    border-bottom: 1px dashed #eee;
    height:56px;
    padding:6px 0;
}
.con-r .con-box ul.bankcard-ul li h1 a{
    height:26px;
    line-height:26px;
    text-align: center;
    background-color: #eee;
    font-size: 12px;
    display:inline-block;
    border-radius: 4px;
    float: right;
    margin-top:8px;
    padding:0 6px;
}
.con-r .con-box ul.bankcard-ul li h1 a.defaultcolor{
    background-color: #f8c458;
    color:#fff;
}
.con-r .con-box ul.bankcard-ul li h1 a:hover{
    opacity:0.8;
}
.con-r .con-box ul.bankcard-ul li h1 img{
    width: 60%;
}
.con-r .con-box ul.bankcard-ul li p{
    height:28px;
    line-height: 28px;
    font-size: 14px;
}
.con-r .con-box ul.bankcard-ul li p a{
  display:inline-block;
  padding:0 10px;
  border-radius: 4px; 
  background-color: #eee;
  float: right;
  margin-left:10px;
}
.con-r .con-box ul.invoice-ul{
    width: 100%;
    height:auto;
    padding:10px 0;
}
.con-r .con-box ul.invoice-ul li{
    float: left;
    width:120px;
    height:150px;    
    margin:10px 0;
    margin-right:20px;
    position:relative;
}
.con-r .con-box ul.invoice-ul li a{
    width: 120px;
    height:120px;
    text-align: center;
    line-height: 120px;
    display:inline-block;
    border:1px solid #ccc;
    border-radius: 4px;
}
.con-r .con-box ul.invoice-ul li a .icon {
   width: 2em; height: 2em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
   color:#ccc;
}
.con-r .con-box ul.invoice-ul li p{
  line-height: 26px;
  text-align: center;
}
.con-r .con-box ul.invoice-ul li span.uploading{
  position:absolute;
  bottom:28px;
  color:#3399ee;
  cursor:pointer;
}
.con-r .con-box ul.invoice-ul li span.uploading:hover{
  opacity:0.8;
}
.con-r .con-box ul.invoice-ul li p span.btn-span{
  margin:0 6px ;
  color:#3399ee;
  cursor:pointer;
}
.con-r .con-box ul.invoice-ul li p span.btn-span:hover{
  opacity:0.8;
}
.con-r .con-box ul.invoice-ul li a span.del-btn{
  position:absolute;
  right:-8px;
  top:-8px;
  display:inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background-color: red;
  color:#fff;
  line-height: 16px;
  text-align: center;
  cursor:pointer;
}
.con-r .con-box ul.invoice-ul li a span.del-btn .icon{
  width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
   color:#fff;

}
/*中间部分 end*/

/* 弹窗 */
.mengban{
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.1);
}
.popup-box{
    width: 840px;
    height:auto;
    background-color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
}
.popup-box h1{
    width: 100%;
    height:40px;
    line-height:40px;
    background-color: #3399ee;
    color:#fff;
    text-align: center;
    font-size:16px;
}
.popup-box h1 a{
    float: right;
    color:#fff;
    margin-right:10px;
}
.popup-box h1 a .icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
.popup-box .content-box{
    width: 100%;
    height:auto;
    padding:16px;
}
.popup-box .content-box .content-ul{
    width: 100%;
    height:auto;
}
.popup-box .content-box .content-ul li{
    width: 242px;
    height:60px;
    float: left;
    margin:0 10px;
    position:relative;
}
.popup-box .content-box .content-ul li a{
  margin-left:10px;
  color:#3399ee;
}
.popup-box .content-box .content-ul li span{
    width: 60px;
    height:32px;
    background-color: #cff;
    display:inline-block;
    position:absolute;
    right:60px;
}
.popup-box .content-box .content-ul li span img{
    width: 60px;
    height:32px;
}
.popup-box .content-box .content-ul li label{
    width: 100px;
    text-align: right;
    margin:0;
}
.popup-box .content-box .content-ul li select{
    width: 130px;
    height:32px;
    border:1px solid #ccc;
    padding:0 8px;
}
.popup-box .content-box .content-ul li input{
    width: 130px;
    height:32px;
    border:1px solid #ccc;
    padding:0 8px;
}
.popup-box .content-box .content-ul li input[type="radio"]{
  width:14px;
}
.popup-box .content-box .content-ul li textarea{
    width: 80%;
    height:80px;
    border:1px solid #ccc;
    padding:0 8px;
}
.popup-box .content-box .content-ul li font{
    position:absolute;
    right:-16px;
    top:6px;
}
.popup-box .content-box .content-ul li .input-time{
    width:50%;
    position:absolute;
    left:100px;
    top:0px;
}
.popup-box .content-box a.btn-box{
    display:block;
    margin:20px auto;
    width: 100px;
    height:30px;
    line-height:30px;
    text-align: center;
    border-radius: 4px;
    background-color:  #3399ee;
    color:#fff;
}
.popup-box .content-box a.btn-box:hover{
  opacity:0.8;
}
.popup-box .content-box .wltable-box table th{
    text-align: center;
}
.popup-box .content-box .wltable-box table td{
    text-align: center;
}

.popup-box .content-box .content-ul02{
    width: 100%;
    height:auto;
    padding:0 40px;
}
.popup-box .content-box .content-ul02 li{
    width: 25%;
    height:auto;
    padding:10px;
    float: left;
} 
.popup-box .content-box .content-ul02 li img{
    width: 100px;
    height:100px;
    display:block;
    margin:0 auto;
}
.popup-box .content-box .content-ul02 li p{
    line-height:36px;
    text-align: center;
}
.popup-box .content-box .content-ul li .pic-box{
  width: 80%;
  height:200px;
  background-color: #eee;
  margin-left:100px;
  margin-bottom: 20px;
  border:1px solid #ccc;
}
.popup-box .content-box .content-ul li .pic-box ul{
  width: 100%;
  height:auto;
  padding:10px;
}
.popup-box .content-box .content-ul li .pic-box ul li{
  float: left;
  width:100px;
  height:140px;
}
.popup-box .content-box .content-ul li .pic-box ul li a{
  width:100px;
  height:100px;
  line-height: 100px;
  text-align: center;
  border:1px solid #ccc;
  border-radius: 4px;
  display:inline-block;
}
.popup-box .content-box .content-ul li .pic-box ul li a .icon{
  width: 2em; height: 2em;
  vertical-align: -0.3em;
  fill: currentColor;
  overflow: hidden;
  color:#ccc;
}
.popup-box .content-box .content-ul li .pic-box ul li p{
  text-align: center;
  line-height: 32px;
}
/* 弹窗 end*/

/* 订单详情 */
ul.particulars-box{
    display: flex;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    padding:26px 0px;
}
ul.particulars-box li{
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    ms-flex: 1;
    border-right:1px solid #eee;
    padding:0 0px;
}
ul.particulars-box li h4{
    color:#000;
    line-height: 32px;
    padding:0 10px;
    font-weight: normal;
    font-size: 16px;
}
ul.particulars-box li p{
    line-height: 32px;
    padding:0 10px;
    font-size:14px;
}
ul.particulars-box li p img{
    display:inline-block;
    width:18px;
    margin-left:10px;
}
ul.particulars-box li p font{
    color:#08beac;
}
ul.particulars-box li p a{
  color:#3399ee;
}
ul.particulars-box li p a:hover{
  opacity:0.8;
}
ul.particulars-box02 li p a.p-btn{
  display:block;
  width: 100px;
  height:32px;
  line-height: 32px;
  text-align: center;
  margin:0 auto;
  border-radius: 4px;
  background-color:#3399ee;
  color:#fff;
  margin-bottom: 10px;
}
ul.particulars-box li p a.p-btn:hover{
  opacity:0.8;
}
.adv-table .text-box{
    width: 96%;
    margin:0 auto;
    height:100px;
    border:1px solid #ccc;
    padding:16px;
}

ul.particulars-box02 li{
    text-align: center;
    opacity:0.4;
    border:0;
}
ul.particulars-box02 li.btn-li{
  opacity:1;
  border-left:1px solid #ccc;
  flex: 2;
}
ul.particulars-box02 li.btn-li a{
  color:#3399ee;
}
ul.particulars-box02 li.btn-li a:hover{
  opacity:0.8;
}
ul.particulars-box02 li p{
    color:#000;
}
ul.particulars-box02 li a{
    color:#000;
    margin:0 10px;
}
ul.particulars-box02 li img{
    width: 64px;
}
ul.particulars-box02 li.opa-1{
    opacity:1;
}
/* 订单详情 end*/

/* 物流 */
.con-box .tab-box{
    padding:16px 0;
    width: 100%;
    height:auto;
    position:relative;
}
.con-box .tab-box .span-right{
    position:absolute;
    right:0;
    top:20px;
}
.con-box .tab-box ul.ul-tab{
    width: 70%;
    height:28px;
    overflow:hidden;
}
.con-box .tab-box ul.ul-tab li{
    width: auto;
    height:28px;
    float: left;    
}
.con-box .tab-box ul.ul-tab li a{
    display:inline-block;
    width: auto;
    height:28px;
    border:1px solid #dadada;
    line-height: 28px;
    text-align: center;
    border-radius:4px 4px 0px 0px;
    font-size: 14px;
    padding:0 16px;

}
.con-box .tab-box ul.ul-tab li a:hover{
    background-color: #169bd5;
    color:#fff;
}
.con-box .tab-box ul.ul-tab li a.current{
    background-color: #169bd5;
    color:#fff;
}
.con-box .tab-box .tab{
    width: 100%;
    height:auto;
    border:1px solid #dadada;
}
.con-box .tab-box .tab h5{
    line-height: 34px;
    padding:0 8px;
    font-size: 14px;
    border-bottom: 1px solid #dadada;
}
.con-box .tab-box .tab h5 span{
    margin:0 8px;
}
.con-box .tab-box .tab ul.tab-cell{
    width: 93%;
    height:auto;
    border-left:2px solid #dadada;
    margin:16px 0;
    margin-left:20px;
}
.con-box .tab-box .tab ul.tab-cell li{
    width: 100%;
    height:auto;
    position:relative;
    margin:16px 0;
}
.con-box .tab-box .tab ul.tab-cell li b{
    width: 12px;
    height:12px;
    display:inline-block;
    background-color: #ccc;
    border-radius: 50%;
    position:absolute;
    left:-7px;
    top:10px;
}
.con-box .tab-box .tab ul.tab-cell li span{
    padding-left: 16px;
    line-height: 28px;;
    font-size: 14px;
}
.con-box .tab-box .tab ul.tab-cell li span.span-box{
    display:inline-block;
    height:auto;
    width: 82%;
    float: right;
    padding-left: 0px;;
}
.con-box .tab-box .tab ul.tab-cell li span.span-box a{
    padding-left:20px;
    background:url(../imgs/pitch.png) no-repeat 2px;
    background-size:16px;
}
.con-box .tab-box .tab ul.tab-cell li span.span-box a:hover{
    color:#169bd5;
}
.con-box .tab-box .tab ul.tab-cell li.line{
    width: 98%;
    height:0px;
    border-top:1px dashed #ccc;
    margin:32px 16px;
}
/*物流 end*/

/* 云市场供应详情 */
.con-box textarea.con-text{
  width: 100%;
  height:100px;
  border:1px solid #ccc;
  padding:10px;
}
table.table {
  border:1px solid #ccc;
}
table.table th {
    text-align: center;
    background-color: #eee;
}
table.table td {
    text-align: center;
}
table.table td audio{
  width:100px;
  margin:0;
}
/* 云市场供应详情 end*/

/* 合同 */
.con-r .con-box .contract-box{
  width: 100%;
  height:auto;
}
.con-r .con-box .contract-box h4{
  width: 100%;
  height:40px;
  text-align: center;
  line-height: 40px;
  font-size:16px;
  font-weight: bold;
}
.con-r .con-box .contract-box p{
  font-size: 14px;
  line-height: 32px;
}
.con-r .con-box .contract-box p span.flr{
  float: right;
}
.con-r .con-box .contract-box h5{
  width: 100%;
  height:40px;
  text-align: left;
  line-height: 40px;
  font-size:14px;
  font-weight: bold;
}
.con-r .con-box .contract-box  ul.contract-ul{
  width: 100%;
  height:200px;
  display: flex;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  border:1px solid #ccc;
  margin-top:10px;
}
.con-r .con-box .contract-box  ul.contract-ul li{
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  ms-flex: 1;
  padding:10px 20px;
}
.con-r .con-box .contract-box p b{
  border-bottom: 1px solid #000;
  padding:0 10px;
}  
.con-r a.contract-btn{
  width: 100px;
  height:32px;
  line-height: 32px;
  text-align: center;
  color:#fff;
  background-color: #3399ee;
  font-size:16px;
  display:block;
  margin:20px auto;
  border-radius: 4px;
}
.con-r .con-box p.input-p{
  width: 100%;
  height:60px;
  line-height: 60px;
  font-size: 16px;  
}
.con-r .con-box p.input-p input{
  width: 200px;
  height:40px;
  border:1px solid #ccc;
  padding:10px;
  font-size: 14px;
  margin-left: 20px;;
}
/* 合同 end*/

/* 上传合同 */
.con-r .con-box .uploadContract-ul{
  width: 100%;
  height:auto;
  padding:20px;
  margin-bottom: 20px;
}
.con-r .con-box .uploadContract-ul li{
  width: 100%;
  height:50px;
  font-size:16px;
  font-family: "微软雅黑";
  margin-bottom: 20px;
}
.con-r .con-box .uploadContract-ul li label{
  width: 140px;
  height:40px;
  line-height:40px;
  text-align: right;
  padding-right:16px;
  margin:0;
  float: left;
  font-weight: normal;
}
.con-r .con-box .uploadContract-ul li input{
  float: left;
  font-size:16px;
  font-family: "微软雅黑";
}
.con-r .con-box .uploadContract-ul li input.text{
  width: 200px;
  height:40px;
  font-size:16px;
  font-family: "微软雅黑";
  padding:0 8px;
  border-radius: 5px;
  border:1px solid #eee;
  
}
.con-r .con-box .tip-p{
  font-size:16px;
  font-family: "微软雅黑";
  line-height: 28px;
  padding-left:164px;
  margin-bottom: 20px;
}
.con-r .con-box .tip-p a{
  color:#3399ee;
  margin-right:32px;
}
.con-r .con-box .tip-p a:hover{
  color:#007eff;
}
/* 上传合同 end*/

/* 云化物流弹窗 */
.yh56-pop{
  width:800px;
}
.yh56-pop h1{
  background-color: #fff;
  color:#000;
  border-bottom:1px solid #eee;
  height:60px;
  line-height:60px;
  font-size:18px;
  font-weight: bold;
}
.yh56-pop h1 a{
  color:#000;
  margin-right:16px;
}
.yh56-pop .yh56-box{
  width: 100%;
  padding:16px;
}
.yh56-pop .yh56-box p.tips{
  font-family: "微软雅黑";
  font-size:18px;
  font-weight: bold;
  margin:12px 0;
}
.yh56-pop .yh56-box .ewm-box{
  width: 100%;
  height:280px;
  padding-top:16px;
}
.yh56-pop .yh56-box .ewm-box img.ewm{
  width:240px;
  float: left;
}
.yh56-pop .yh56-box .ewm-box p{
  padding-left:280px;
  width: 100%;
  font-family: "微软雅黑";
  font-size:14px;
  margin:12px 0;
  line-height: 28px;
  position:relative;
}
.yh56-pop .yh56-box .ewm-box h2{
  padding-left:280px;
  width: 100%;
  font-family: "微软雅黑";
  font-size:18px;
  font-weight: bold;
  margin:12px 0;
  margin-top:32px;
}
.yh56-pop .yh56-box .ewm-box .ewm-download{
  width: 120px;
  height:120px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 4px rgba(0,0,0,0.05);
  position:absolute;
  display:inline-block;
  left:380px;
  bottom:-100px;
  overflow:hidden;
  display:none;
}
.yh56-pop .yh56-box .ewm-box p .js_download{
  cursor:pointer;
}
.yh56-pop .yh56-box .ewm-box .ewm-download img{
  width: 100%;
  height:100%;
}
/* 云化物流弹窗  end*/