@charset "utf-8";
/* CSS 交易网 4.0 */
/*css初始化*/

/* 初始化CSS */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img { border:0 none; }
/*img{display: block;}*/
ul, ol { list-style:none; }
select,input { padding-top:0; padding-bottom:0; font-family: "微软雅黑";border:0px;outline:none;}
select, input { vertical-align:middle; }
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; }
body { color:#333; font:12px "微软雅黑"; background:url(../images/bdbg.png) repeat-x; }
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */ 
a{ color:#666; text-decoration:none; }
a:hover{ color:#666; text-decoration:none; }
a:visited { color:#666; }


html,body{
    width: 100%;
}  

.wrap {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}   

/*中间部分*/
.content{
    width: 100%;
    height:auto;
}
 .con-l{
    width: 17%;
    margin-right:8px;
    height:auto;
    float: left;
    margin-top:16px;
}
.con-r{
    width: 82%;
    height:auto;
    float: right;
    overflow:hidden;
    padding:25px 16px; 
    background-color: #fff;
} 
.con-r h2{
    font-size:18px;
    color:#3399ee;
    border-bottom:2px solid #dadada;
    line-height:40px;
    font-weight: normal;
    height:40px;
}
.con-r h2 a{
    float: right;
    font-size: 14px;
    font-weight: normal;
    color:#4496F9;
    text-decoration: none;
}
.con-r h2 span{
    display:inline-block;
    border-bottom:2px solid #3399ee;
    padding:0 2px;
}
.con-r .con-box{
    border-bottom:1px dashed #dadada;
    padding:10px 0;
}
.con-r .con-box{
    border:1px solid #dadada;
    padding:10px 0;
    margin-top:20px;
}
.con-r .con-box h3{
    font-size:16px;
    color:#333;
    line-height:40px;
    font-weight: bold;
    height:40px;
    border-bottom:1px solid #ccc;
    margin:0 10px;
}
.con-r .con-box h3.no-border{
	border:0;
}
.con-r .con-box h3 span{
    font-weight: normal;
    color:#4496F9;
    margin-left:8px;
}
.con-r .con-box h3 a{
    float: right;
    font-size: 14px;
    font-weight: normal;
    color:#4496F9;
    text-decoration: none;
}
.con-r .con-box h3 a:hover{
    text-decoration: none;
    opacity:0.8;
}
.con-r .warn-box{
    width: 98%;
    height:40px;
    background-color: #eee;
    font-size: 14px;
    line-height:40px;
    margin-left:10px;
    padding-left: 6px;
}
.con-r .con-box ul.text-ul {
    width: 100%;
    margin: 0 auto;
    margin-top:10px;
    padding:0 10px;
}
.con-r .con-box ul.text-ul li{
    width: 33%;
    height:40px;
    line-height:40px;
    float: left;
    font-size:14px;
    color:#333;
}
.con-r .con-box ul.text-ul li label{
    margin:0;
}
.con-r .con-box ul.text-ul li a{
    font-weight: normal;
    color:#4496F9;
    text-decoration: none;
    margin-left:8px;
}
.con-r .con-box ul.text-ul li a:hover{
    text-decoration: none;
    opacity:0.8;
}
.con-r .con-box .accessory-box{
    padding:0 10px;
    margin-top:12px;
}
.con-r .con-box .accessory-box ul.accessory-ul{
  width: 90%;
  float: left;  
}
.con-r .con-box .accessory-box ul.accessory-ul li{
  width: 134px;
  height:160px;
  height:auto;
  float: left;
  margin-right:14px;
}
.con-r .con-box .accessory-box ul.accessory-ul li img{
    width:120px;
    height:120px;
    margin: 0 auto;
    display: block;
}
.con-r .con-box .accessory-box ul.accessory-ul li p{
    font-size:14px;
    text-align: center;
}
.con-r .con-box ul.bankcard-ul{
    width: 100%;
    height:auto;
    padding:10px 0;
}
.con-r .con-box ul.bankcard-ul li{
    width: 280px;
    height:180px;
    border:1px solid #ccc;
    border-radius: 8px;
    float: left;    
    padding:0 16px;
    margin: 10px;
    
}
.con-r .con-box ul.bankcard-ul li h1{
    border-bottom: 1px dashed #eee;
    height:56px;
    padding:6px 0;
}
.con-r .con-box ul.bankcard-ul li h1 a{
    height:26px;
    line-height:26px;
    text-align: center;
    background-color: #eee;
    font-size: 12px;
    display:inline-block;
    border-radius: 4px;
    float: right;
    margin-top:8px;
    padding:0 6px;
}
.con-r .con-box ul.bankcard-ul li h1 a.defaultcolor{
    background-color: #f8c458;
    color:#fff;
}
.con-r .con-box ul.bankcard-ul li h1 a:hover{
    opacity:0.8;
}
.con-r .con-box ul.bankcard-ul li h1 img{
    width: 60%;
}
.con-r .con-box ul.bankcard-ul li p{
    height:28px;
    line-height: 28px;
    font-size: 14px;
}
.con-r .con-box ul.bankcard-ul li p a{
  display:inline-block;
  padding:0 10px;
  border-radius: 4px; 
  background-color: #eee;
  float: right;
  margin-left:10px;
}
.con-r .con-box ul.invoice-ul{
    width: 100%;
    height:auto;
    padding:10px;
}
.con-r .con-box ul.invoice-ul li{
    float: left;
    width:120px;
    height:150px;    
    margin:10px 0;
    margin-right:20px;
    position:relative;
}
.con-r .con-box ul.invoice-ul li a{
    width: 120px;
    height:120px;
    text-align: center;
    line-height: 120px;
    display:inline-block;
    border:1px solid #ccc;
    border-radius: 4px;
}
.con-r .con-box ul.invoice-ul li a .icon {
   width: 2em; height: 2em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
   color:#ccc;
}
.con-r .con-box ul.invoice-ul li p{
  line-height: 26px;
  text-align: center;
}
.con-r .con-box ul.invoice-ul li span.uploading{
  position:absolute;
  bottom:28px;
  color:#3399ee;
  cursor:pointer;
}
.con-r .con-box ul.invoice-ul li span.uploading:hover{
  opacity:0.8;
}
.con-r .con-box ul.invoice-ul li p span.btn-span{
  margin:0 6px ;
  color:#3399ee;
  cursor:pointer;
}
.con-r .con-box ul.invoice-ul li p span.btn-span:hover{
  opacity:0.8;
}
.con-r .con-box ul.invoice-ul li a span.del-btn{
  position:absolute;
  right:-8px;
  top:-8px;
  display:inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background-color: red;
  color:#fff;
  line-height: 16px;
  text-align: center;
  cursor:pointer;
}
.con-r .con-box ul.invoice-ul li a span.del-btn .icon{
  width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
   color:#fff;

}
/*中间部分 end*/

/* 弹窗 */
.content-box{
    width: 100%;
    height:auto;
    padding:16px;
    font-size:14px;
}
.content-box .content-ul{
    width: 100%;
    height:auto;
}
.content-box .content-ul li{
    width: 100%;
    height:60px;
    line-height:60px;
    float: left;
    margin:0 1px;
    position:relative;
}
.content-box .wangcai li{
	line-height:0px;
}
.content-box .content-ul li a{
  margin-left:10px;
  color:#3399ee;
  font-size:14px;
}
.content-box .content-ul li span{
    width: 80px;
    height:36px;
    background-color: #cff;
    display:inline-block;
    position:absolute;
    margin-left:10px;
    margin-top:14px;
    line-height: 0;
}
.content-box .content-ul li span img{
    width: 80px;
    height:36px;
}
.content-box .content-ul li label{
    width: 100px;
    text-align: right;
    margin:0;
    font-size:14px;
}
.content-box .content-ul li select{
    width: 210px;
    height:36px;
    border:1px solid #ccc;
    padding:0 8px;
}
.content-box .content-ul li.address-li select{
    width: 168px;
}
.content-box .content-ul li input{
    width: 210px;
    height:36px;
    border:1px solid #ccc;
    padding:0 8px;
    font-size:14px;
}
.content-box .content-ul li input[type="radio"]{
  width:14px;
}
.content-box .content-ul li textarea{
    width: 80%;
    height:80px;
    border:1px solid #ccc;
    padding:0 8px;
    font-size:14px;
}
.content-box .content-ul li font{
    position:absolute;
    right:-16px;
    top:6px;
}
.content-box .content-ul li .input-time{
    width:50%;
    position:absolute;
    left:100px;
    top:0px;
}
.content-box a.btn-box{
    display:block;
    margin:16px auto;
    width: 100px;
    height:30px;
    line-height:30px;
    border-radius: 4px;
    background-color:  #3399ee;
    color:#fff;
    text-align: center;
}
.content-box a.btn-box02{
  background-color: #ccc;
}
.content-box a.btn-box:hover{
  opacity:0.8;
}
.content-box .wltable-box table th{
    text-align: center;
}
.content-box .wltable-box table td{
    text-align: center;
}

.content-box .content-ul02{
    width: 100%;
    height:auto;
    padding:0 40px;
}
.content-box .content-ul02 li{
    width: 25%;
    height:auto;
    padding:10px;
    float: left;
} 
.content-box .content-ul02 li .choose-box{
  position:relative;
  width: 100px;
  height:100px;
  margin:0 auto;
}
.content-box .content-ul02 li img{
    width: 100px;
    height:100px;
    display:block;
    margin:0 auto;
}
.content-box .content-ul02 li p{
    line-height:20px;
    text-align: center;
    margin:10px auto;
}
.content-box .content-ul02 li p a{
  color:#0093d9;
}
.content-box .content-ul li .pic-box{
  width: 81%;
  height:200px;
  background-color: #eee;
  margin-left:100px;
  margin-bottom: 20px;
  border:1px solid #ccc;
}
.content-box .content-ul li .pic-box ul{
  width: 100%;
  height:auto;
  padding:10px;
}
.content-box .content-ul li .pic-box ul li{
  float: left;
  width:120px;
  height:140px;
}
.content-box .content-ul li .pic-box02{
  float: left;
  margin-left:4px;
}
.content-box .content-ul li .pic-box02 ul li{
  height:100px;
}
.content-box .content-ul li .pic-box ul li a{
  width:100px;
  height:100px;
  /* line-height: 100px; */
  text-align: center;
  border:1px solid #ccc;
  border-radius: 4px;
  display:inline-block;
  overflow:hidden; 
}
.content-box .content-ul li .pic-box ul li a img{
  width:100px;
  height:100px;
}
.content-box .content-ul li .pic-box ul li a .icon{
  width: 2em; height: 7em;
  vertical-align: -0.3em;
  fill: currentColor;
  overflow: hidden;
  color:#ccc;
}
.content-box .content-ul li .pic-box ul li p{
  text-align: center;
  line-height: 18px;
    margin-top: 12px;
}
.content-box p.tips-p{
	color:red;
	/* text-align:center; */
	padding-left:56px;
}
.content-box .content-ul02 li b{
  display:inline-block;
  position:absolute;
  width: 20px;
  height:20px;
  border-radius: 100px;
  right:4px;
  top:4px;
  background:#000; 
  filter:Alpha(opacity=30); 
  background-color:rgba(0,0,0,0.3);
  _background:#000; 
  _filter:Alpha(opacity=30);
  text-align: center;
}
.content-box .content-ul02 li b .icon {
   width: 0.8em; height: 0.8em;
   vertical-align: -0.05em;
   fill: currentColor;
   overflow: hidden;
   color:#fff;
}
.content-box .content-ul02 li b.current{
  background-color: #1aad19;
}
/* 弹窗 end*/

/* 订单详情 */
ul.particulars-box{
    display: flex;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    padding:26px 0px;
}
ul.particulars-box li{
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    ms-flex: 1;
    border-right:1px solid #eee;
    padding:0 0px;
}
ul.particulars-box li h4{
    color:#000;
    line-height: 32px;
    padding:0 10px;
    font-weight: normal;
    font-size: 16px;
}
ul.particulars-box li p{
    line-height: 32px;
    padding:0 10px;
    font-size:14px;
}
ul.particulars-box li p img{
    display:inline-block;
    width:18px;
    margin-left:10px;
}
ul.particulars-box li p font{
    color:#08beac;
}
ul.particulars-box li p a{
  color:#3399ee;
}
ul.particulars-box li p a:hover{
  opacity:0.8;
}
ul.particulars-box02 li p a.p-btn{
  display:block;
  width: 100px;
  height:32px;
  line-height: 32px;
  text-align: center;
  margin:0 auto;
  border-radius: 4px;
  background-color:#3399ee;
  color:#fff;
  margin-bottom: 10px;
}
ul.particulars-box li p a.p-btn:hover{
  opacity:0.8;
}
.adv-table .text-box{
    width: 96%;
    margin:0 auto;
    height:100px;
    border:1px solid #ccc;
    padding:16px;
}

ul.particulars-box02 li{
    text-align: center;
    opacity:0.4;
    border:0;
}
ul.particulars-box02 li.btn-li{
  opacity:1;
  border-left:1px solid #ccc;
  flex: 2;
}
ul.particulars-box02 li.btn-li a{
  color:#3399ee;
}
ul.particulars-box02 li.btn-li a:hover{
  opacity:0.8;
}
ul.particulars-box02 li p{
    color:#000;
}
ul.particulars-box02 li a{
    color:#000;
    margin:0 10px;
}
ul.particulars-box02 li img{
    width: 48px;
    margin: 12px 0;
}
ul.particulars-box02 li.opa-1{
    opacity:1;
}
/* 订单详情 end*/

/* 物流 */
.con-box .tab-box{
    padding:16px 0;
    width: 100%;
    height:auto;
    position:relative;
}
.con-box .tab-box .span-right{
    position:absolute;
    right:0;
    top:20px;
}
.con-box .tab-box ul.ul-tab{
    width: 70%;
    height:28px;
    overflow:hidden;
}
.con-box .tab-box ul.ul-tab li{
    width: auto;
    height:28px;
    float: left;    
}
.con-box .tab-box ul.ul-tab li a{
    display:inline-block;
    width: auto;
    height:28px;
    border:1px solid #dadada;
    line-height: 28px;
    text-align: center;
    border-radius:4px 4px 0px 0px;
    font-size: 14px;
    padding:0 16px;

}
.con-box .tab-box ul.ul-tab li a:hover{
    background-color: #169bd5;
    color:#fff;
}
.con-box .tab-box ul.ul-tab li a.current{
    background-color: #169bd5;
    color:#fff;
}
.con-box .tab-box .tab{
    width: 100%;
    height:auto;
    border:1px solid #dadada;
}
.con-box .tab-box .tab h5{
    line-height: 34px;
    padding:0 8px;
    font-size: 14px;
    border-bottom: 1px solid #dadada;
}
.con-box .tab-box .tab h5 span{
    margin:0 8px;
}
.con-box .tab-box .tab ul.tab-cell{
    width: 93%;
    height:auto;
    border-left:2px solid #dadada;
    margin:16px 0;
    margin-left:20px;
}
.con-box .tab-box .tab ul.tab-cell li{
    width: 100%;
    height:auto;
    position:relative;
    margin:16px 0;
}
.con-box .tab-box .tab ul.tab-cell li b{
    width: 12px;
    height:12px;
    display:inline-block;
    background-color: #ccc;
    border-radius: 50%;
    position:absolute;
    left:-7px;
    top:10px;
}
.con-box .tab-box .tab ul.tab-cell li span{
    padding-left: 16px;
    line-height: 28px;;
    font-size: 14px;
}
.con-box .tab-box .tab ul.tab-cell li span.span-box{
    display:inline-block;
    height:auto;
    width: 82%;
    float: right;
    padding-left: 0px;;
}
.con-box .tab-box .tab ul.tab-cell li span.span-box a{
    padding-left:20px;
    background:url(../imgs/pitch.png) no-repeat 2px;
    background-size:16px;
}
.con-box .tab-box .tab ul.tab-cell li span.span-box a:hover{
    color:#169bd5;
}
.con-box .tab-box .tab ul.tab-cell li.line{
    width: 98%;
    height:0px;
    border-top:1px dashed #ccc;
    margin:32px 16px;
}
/*物流 end*/

/* 云市场供应详情 */
.con-box textarea.con-text{
  width: 100%;
  height:100px;
  border:1px solid #ccc;
  padding:10px;
}
table.table {
  border:1px solid #ccc;
}
table.table th {
    text-align: center;
    background-color: #eee;
}
table.table td {
    text-align: center;
}
table.table td audio{
  width:100px;
  margin:0;
}
/* 云市场供应详情 end*/

/* 合同 */
.con-r .con-box .contract-box{
  width: 100%;
  height:auto;
}
.con-r .con-box .contract-box h4{
  width: 100%;
  height:40px;
  text-align: center;
  line-height: 40px;
  font-size:16px;
  font-weight: bold;
}
.con-r .con-box .contract-box p{
  font-size: 14px;
  line-height: 32px;
}
.con-r .con-box .contract-box p span.flr{
  float: right;
}
.con-r .con-box .contract-box h5{
  width: 100%;
  height:40px;
  text-align: left;
  line-height: 40px;
  font-size:14px;
  font-weight: bold;
}
.con-r .con-box .contract-box  ul.contract-ul{
  width: 100%;
  height:200px;
  display: flex;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  border:1px solid #ccc;
  margin-top:10px;
}
.con-r .con-box .contract-box  ul.contract-ul li{
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  ms-flex: 1;
  padding:10px 20px;
}
.con-r .con-box .contract-box p b{
  border-bottom: 1px solid #000;
  padding:0 10px;
}  
.con-r a.contract-btn{
  width: 100px;
  height:32px;
  line-height: 32px;
  text-align: center;
  color:#fff;
  background-color: #3399ee;
  font-size:16px;
  display:block;
  margin:20px auto;
  border-radius: 4px;
}
.con-r .con-box p.input-p{
  width: 100%;
  height:60px;
  line-height: 60px;
  font-size: 16px;  
}
.con-r .con-box p.input-p input{
  width: 200px;
  height:40px;
  border:1px solid #ccc;
  padding:10px;
  font-size: 14px;
  margin-left: 20px;;
}
/* 合同 end*/

/* 会员中心 */
.con-r .membercenter-box{
  width: 100%;
  height:auto;
  background-color: #fff;
  font-family: "微软雅黑";
}
.con-r .membercenter-box .membercenter-left{
  width:682px;
  height:auto;
  float: left;
  overflow:hidden;
}
.con-r .membercenter-box .membercenter-left .membercenter-cell01{
  width: 682px;
  height:170px;
  background-color:#E5F3FF;
  border:1px solid #BCE1FF;
  overflow:hidden;
  margin-bottom: 24px;
}
.con-r .membercenter-box .membercenter-left .membercenter-cell01 .cell-left{
  float: left;
  width: 20%;
  height:168px;
  text-align: center;
}
.con-r .membercenter-box .membercenter-left .membercenter-cell01 .cell-left img{
  width: 80px;
  height:80px;
  margin-top:24px;
  margin-bottom: 12px;
}
.con-r .membercenter-box .membercenter-left .membercenter-cell01 .cell-left p{
  font-size: 14px;
}
.con-r .membercenter-box .membercenter-left .membercenter-cell01 .cell-center{
  float: left;
  width: 50%;
  height:168px;
  margin-top:24px;
}
.con-r .membercenter-box .membercenter-left .membercenter-cell01 .cell-center p{
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
}
.con-r .membercenter-box .membercenter-left .membercenter-cell01 .cell-right{
  float: left;
  width: 30%;
  height:168px;
  padding-top:74px;
}
.con-r .membercenter-box .membercenter-left .membercenter-cell01 .cell-right a.btn01{
    display:block;
    font-size:18px;
    color:#3399EE;
    margin-bottom:12px;
}
.con-r .membercenter-box .membercenter-left .membercenter-cell01 .cell-right a.btn02{
    display:block;
    font-size:12px;
    color:#fff;
    width:64px;
    height:24px; 
    line-height:24px;
    background:rgba(255,89,103,1);
    border-radius: 100px ; 
    text-align: center;
}
.con-r .membercenter-box .membercenter-left .membercenter-cell01 .cell-right a:hover{
  opacity:0.8;
}
.con-r .membercenter-box .membercenter-left  .membercenter-cell02{
  width: 682px;
  height:auto;
  border:1px solid #eee;
  margin-bottom: 24px;
  overflow:hidden;
}
.con-r .membercenter-box .membercenter-left  .membercenter-cell02 h1{
  width: 100%;
  height:55px;
  background-color: #E5F3FF;
  line-height: 55px;
  font-size: 16px;
  font-weight: bold;
  padding-left:24px;
  position:relative;
}
.con-r .membercenter-box .membercenter-left  .membercenter-cell02 h1 .sanjiao{
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border-width: 8px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #fff transparent;
    position:absolute;
    left:45px;
    bottom:0px;
}
.con-r .membercenter-box .membercenter-left  .membercenter-cell02 table{
    width: 100%;
    height:auto;
}
.con-r .membercenter-box .membercenter-left  .membercenter-cell02 table tr{
  height:55px;
  border-bottom:1px solid #eee;
}
.con-r .membercenter-box .membercenter-left  .membercenter-cell02 table tr td{
  padding:0 10px;
  font-size: 14px;
}
.con-r .membercenter-box .membercenter-left  .membercenter-cell02 table tr td:first-of-type{
  font-size: 14px;
  color:#3399EE;
}
.con-r .membercenter-box .membercenter-left  .membercenter-cell02 table tr td a:hover{
  color:#3399EE;
}
.con-r .membercenter-box .membercenter-right{
  width: 246px;
  height:auto;
  float:left;
  margin-left:24px;
  overflow:hidden;
}
.con-r .membercenter-box .membercenter-right .membercenter-cell01{
  width: 246px;
  height:170px;
  background-color:#E5F3FF;
  border:1px solid #BCE1FF;
  padding:24px;
  margin-bottom: 24px;
}
.con-r .membercenter-box .membercenter-right .membercenter-cell01 h1{
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 8px;
}
.con-r .membercenter-box .membercenter-right .membercenter-cell01 p{
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
}
.con-r .membercenter-box .membercenter-right .membercenter-cell01 a{
  width:64px;
  height:24px; 
  background:rgba(51,153,238,1);
  border-radius: 100px ; 
  font-size: 12px;
  color:#fff;
  display:inline-block;
  line-height: 24px;
  text-align: center;
  margin-top:24px;
}
.con-r .membercenter-box .membercenter-right  .membercenter-cell01 .img-box{
  width: 50%;
  float: left;
  height:170px;
  text-align: center;
}
.con-r .membercenter-box .membercenter-right  .membercenter-cell01 .img-box img{
  width: 90%;
}
.con-r .membercenter-box .membercenter-right  .membercenter-cell01 .img-box p{
  font-size: 14px;
}
.con-r .membercenter-box .membercenter-banner{
  width: 100%;
  overflow:hidden;
}
.con-r .membercenter-box .membercenter-banner img{
  width: 100%;
}
.content-box p.tips-box{
  width: 100%;
  height:32px;
  background-color: #eee;
  line-height:32px;
  margin-bottom: 8px;
}
.con-r .membercenter-box .membercenter-left  .membercenter-cell03{
  width: 100%;
  height:346px;
  background: #E5F3FF;
  border: 1px solid #C2E3FF;
  margin-bottom: 24px;
  overflow:hidden;
}
.con-r .membercenter-box .membercenter-left  .membercenter-cell03 p{
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  margin-top:120px;
}
.con-r .membercenter-box .membercenter-left  .membercenter-cell03 a{
  display:block;
  background: #FF5967;
  border-radius: 100px;
  margin:20px auto;
  width: 64px;
  height:24px;
  color:#fff;
  text-align: center;
  line-height:24px;
}
.con-r .membercenter-box .membercenter-left  .membercenter-cell03 a:hover{
  opacity:0.8;
}
/* 会员中心 end*/

